.body-mainClass {
    flex: 1;
    flex-direction: inherit;
    justify-content: space-around;
    background-color:#dfdfdf;
}

.body-noteTitleText, .body-noteBodyText {
    font-size: 30px;
    font-weight: bold;
}

.body-noteTitle {
    width: 50%;
    font-size: 25px;
}

.body-noteBody {
    width: 50%;
    font-size: 20px;
    height: 180px;
}