.ShowNotes-titleButton {
      margin-bottom: 1em;
      text-align: left;
}
.containNote{
    display:flex;
    flex-direction: column;
    margin:1em;
}

.ShowNotes-NoteText {
    min-height: 75px;
    height: auto;
    resize: none;
    font-size: 18px;
    
}